{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        {% form_theme form ':default:jquery.collection.html.twig'
        ':default:theme.html.twig'
        %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form_commande'}}) }}

        <h3>Informations de la commande</h3>

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lastName) }}

            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.firstName) }}

            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group dayType">
                {{ form_label(form.dayType) }}
                {{ form_widget(form.dayType, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dayType) }}

            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.dateVisit) }}
                {{ form_widget(form.dateVisit, {'attr': {'class': 'form-control  date-booking'}}) }}
                {{ form_errors(form.dateVisit) }}
                <p class="help-form">Format demandé : 01-01-2001</p>

            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.email) }}

            </div>
        </div>
        <hr>

        <h3>Mes tickets</h3>

        <p>Il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée pour prouver qu’on bénéficie bien du tarif réduit.
            <br>
            La date d'anniversaire doit-être au format jj-mm-aaaa</p>
        <div id="form-demo"
             class="my-selector col-md-12"
                {% if form.tickets.vars.prototype is defined %}
                    data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}"
                    data-prototype-name="{{ form.tickets.vars.prototype.vars.name|e('html_attr') }}"
                {% endif %}
             data-allow-add="{{ form.tickets.vars.allow_add }}"
             data-allow-remove="{{ form.tickets.vars.allow_delete }}"
             data-name-prefix="{{ form.tickets.vars.full_name }}"
        >
            {% for ticket in form.tickets %}
                {{ form_label(ticket) }}
                {{ form_widget(ticket) }}
                {{ form_errors(ticket) }}
            {% endfor %}

        </div>

        <div class="col-md-12">
            <button type="submit" id="submit_commande" class="btn navbar-btn btn-ghost">Suivant</button>
        </div>

        {{ form_end(form) }}
    </div>

    <div class="mb-20"></div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function(){

            $('.my-selector').collection({
                up: '<a href="#" class="btn navbar-btn btn-ghost"><span class="fa fa-arrow-up"></span></a>',
                down: '<a href="#" class="btn navbar-btn btn-ghost"><span class="fa fa-arrow-down"></span></a>',
                add: '<a href="#" class="btn navbar-btn btn-ghost"><span class="fa fa-plus"></span> Ajouter</a>',
                remove: '<a href="#" class="btn navbar-btn btn-ghost"><span class="fa fa-trash"></span></a>',
                init_with_n_elements: 1,
                add_at_the_end: true,
                min: 1,
                max: 10
            });
            $('#collection').find('> div');

            /**
             * Gestion de l'heure
             */
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var heure   = today.getHours();
            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd;
            }
            if(mm<10){
                mm='0'+mm;
            }
            var today = dd+'-'+mm+'-'+yyyy;

            /**
             * Fonction de vérification de l'heure par rapport à la date du jour et de visite
             */
            $('#form_commande').change(function (e) {

                // Valeur de la date de visite
                var dateVisite = $('#commande_dateVisit').val();
                // Valeur du type de visite (Journée ou demi journée)
                var dayType = $('#commande_dayType').val();
                // Si la valeur de la date de visite est = 1 à ainsi que la date du jour = à la date de visite et l'heure actuelle = ou superieure à 14h
                if ((dayType == 1) && (today == dateVisite) && (heure >= 13)){

                    // Désactive le bouton de submit
                    $('#submit_commande').attr('disabled', true);
                    // Ajoute un message sous le select
                    $('.dayType').append('<p id="error_dayType" class="help-form">Vous ne pouvez pas commander un billet "Journée" après 14h</p>');

                }else {
                    // Supprime le message sous le select
                    $('#error_dayType').remove();
                    // Réactive le boutou submit
                    $("#submit_commande").removeAttr('disabled');
                }

            });
        });

    </script>
{% endblock %}