{% extends 'base.html.twig' %}

{% block body %}
    <div id="row">
        <div class="col-md-12">

            <h1>Ma commande</h1>
            <p>
                <strong>Nom :</strong> {{ recap.lastName }} <br>
                <strong>Prénom:</strong> {{ recap.firstName }} <br>

                <strong>Date de la visite : </strong>{{ recap.dateVisit|date('d/m/Y') }}<br>
                <strong>Type de billet :</strong>
                {% if recap.dayType == 1 %}
                    Journée complète <br>
                {% else %}
                    Demi-journée <br>
                {% endif %}
                <br>
                <strong>Prix total de la commande :</strong> {{ recap.prix }} € TTC
            </p>

            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Pays</th>
                    <th>Tarif</th>
                    <th>Réduction
                </tr>
                </thead>
                <tbody>

                {% for ticket in recap.tickets %}
                    <tr>
                        <td> {{ ticket.nom }}</td>
                        <td>{{ ticket.prenom }}</td>
                        <td>{{ ticket.dateNaissance|date('d/m/Y') }}</td>
                        <td>{{ ticket.pays }}</td>
                        <td>{{ ticket.tarif }} € TTC</td>

                        <td>
                            {% if ticket.reduction == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <br>
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-ghost" id="annuler" href="{{ path('homepage') }}">Annuler ma commande</a>

                </div>
                <div class="col-md-6 text-center">
                    <form action="{{ path('valide_commande', {'id': recap.id}) }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_RKoJWsOh0pHyFVqVPjTys2em"
                                data-amount="{{ recap.prix * 100 }}"
                                data-label="Procéder au paiement"
                                data-name="Musée du Louvre"
                                data-description="Commande de billet(s)"
                                data-image="{{ asset('img/logo.png') }}"
                                data-billing-address="true"
                                data-locale="auto"
                                data-allow-remember-me="false"
                                data-email="{{ recap.email }}"
                                data-currency="eur">
                        </script>
                    </form>

                </div>
            </div>


            <div class="mb-20"></div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}