{% extends 'base.html.twig' %}

{% block body %}

    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
            <h1>Merci pour votre commande</h1>
            <p>Vous allez recevoir un email avec le récapitulatif de votre commande ainsi que le(s) billet(s)</p>
            <a href="{{ path('homepage') }}" class="btn navbar-btn btn-ghost">Commander d'autres billets</a>
            <a href="http://louvre.fr" class="btn navbar-btn btn-ghost">Retour sur le site</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

