<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Commande</title>

    <style>
        hr{
            border: dashed black 1px;
        }
        body{
            font-family: verdana;
        }
        .container{
            width: 80%;
            border: 1px solid black;
            padding: 15px;
        }
        img{
            width: 240px;
            height: 72px;
        }
    </style>

</head>
<body>
<div class="container">
    <img src="https://www.grapheine.com/wp-content/uploads/2016/04/louvre-1eravril-800x238.jpg" alt="logo louvre">
    <h1>Musée du Louvre - Votre commande</h1>
    <p>
        Cet email servira de billet d'entrée. Veillez a bien le conserver
        pour être en mesure de le présenter lors de la visite ainsi que vos justificatifs d'identité ou autres justificatifs de réduction.
    </p>
    <div>
        <h2>Récapitulatif :</h2>
        <div>
            <p>
                <strong>Numéro de commande :</strong> {{ commande.numCommande }}
            </p>
            <p>
                <strong>Vous avez réservé pour le :
                    {{ commande.dateVisit|date("d/m/Y") }}
                </strong>
            </p>
            {% if commande.dayType == true %}
                <p>
                    <strong>Billet demi-journée</strong> Vous pouvez entrer à partir de 14h00 jusqu'à 18h00
                </p>
            {% else %}
                <strong>Billet à la journée</strong> De 09h00 à 18h00
            {% endif %}
            <p>
                <strong>Email : </strong>
                {{ commande.email }}
            </p>
        </div>
        <h3>Billets :</h3>
        <div>
            {% for ticket in commande.tickets %}
                <div>
                    <p>
                        <strong>Nom : </strong>
                        {{ ticket.nom }}
                    </p>
                    <p>
                        <strong>Prénom : </strong>
                        {{ ticket.prenom }}
                    </p>
                    <p>
                        <strong>Date de naissance : </strong>
                        {{ ticket.dateNaissance|date('d/m/Y') }}
                    </p>
                    <p>
                        <strong>Pays : </strong>
                        {{ ticket.pays }}
                    </p>
                    {% if ticket.reduction == true %}
                        <p>
                            <span class="fa fa-exclamation-triangle"></span>
                            Tarif réduit. Un justificatif sera demandé a l'entrée
                        </p>
                    {% endif %}
                    <p>
                        <strong>Prix du billet : </strong>
                        {{ ticket.tarif }} €
                    </p>
                </div>

                <hr>

            {% endfor %}
        </div>
        <p>
            <strong>Prix Total :
                <span class="red">{{ commande.prix }} €</span>
            </strong>
        </p>
    </div>
</div>
</body>
</html>